<%= form_tag("/suggestions/combination", method: :post) do %>
    <%= label_tag(:food_search, "Search for:") %>
    <%= text_field_tag(:food_search) %>
    <%= submit_tag("Search") %>
<% end %>
<%#=current_user.uid%>


<%if current_user && @music_array && @food_array %>

  <%@music_array.zip(@food_array,@id_array).each do |suggestion|%>
    <%=suggestion[0].name%><br>
    <iframe src="https://embed.spotify.com/?uri=<%=  "#{suggestion[0].uri}" %>"
    width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

    <%=suggestion[1].name%><br>
    <%=image_tag(suggestion[1].image)%><br>
    <%=suggestion[1].rating%><br>
    <%=suggestion[1].reviews%><br>
    <%=image_tag suggestion[1].rating_image%><br>
    <%=suggestion[1].address%><br>
    <%= form_tag(favorites_favorite_a_suggestion_path, method: :post) do %>
        <%=hidden_field_tag(:user_id, current_user.uid)%>
        <%=hidden_field_tag(:suggestion_id, suggestion[2] )%>
        <%= submit_tag("Fav") %>

<%#params come from forms in the form of a hash. the keys look up params%>


        <%= form_tag(unfavorite_path, method: :delete) do %>
            <%=hidden_field_tag(:user_id, current_user.uid)%>
            <%=hidden_field_tag(:suggestion_id, suggestion[2] )%>
            <%= submit_tag("UnFav") %>
            <%end%>
        <%end%>
  <%end%>
<%end%>




<% if !@show_favorites_array.nil?%>
  <%@show_favorites_array.each do |num|%>
    <%=num.name%><br>
    <iframe src="https://embed.spotify.com/?uri=<%=  "#{num.uri}" %>"
    width="300" height="80" frameborder="0" allowtransparency="true"></iframe>

      <%end%>
<%end%>


 <% if !@food_array.nil?%>
  <%=@food_array.each do |num|%>
    <%=num.name%><br>
    <%end%>
<%end%>



<h2> see top favorites</h2>

<%=link_to "favorites",favorites_path%>

<h3></h3>
<%=link_to "My favorites",get_my_favs_path%>
